@model IEnumerable<ControlePedidos.Models.ItemPedido>

@{ ViewData["Title"] = "Itens do Pedido"; }

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="AddItem" class="btn btn-info">Adicionar Item</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Sequencial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Sequencial)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Produto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantidade)
    </td>
    <td>
        <a asp-action="EditItemPedido" asp-route-id="@item.Id">Editar</a> |
        <a asp-action="DetailsItemPedido" asp-route-id="@item.Id">Detalhes</a> |
        <a asp-action="DeleteItemPedido" asp-route-id="@item.Id">Excluir</a>
    </td>
</tr>
}
    </tbody>
</table>